body {
    background-image: url(./assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}

.overlay {
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.1); /* بهتر دیده بشه */
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    text-align: center;
    color: white;
    max-width: 900px;
    width: 100%;
}

.app h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 600;
}

.gift-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    padding: 0 20px;
}
