@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-image: url(./assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    font-family: 'Poppins', sans-serif;
}


#root {
    width: 100%;
    height: 100dvh;
}

.overlay {
    background: rgba(0, 0, 0, 0.1);
    /* بهتر دیده بشه */
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    text-align: center;
    color: white;
    max-width: 900px;
    width: 100%;
}

.app h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-weight: 600;
    color: whitesmoke;
}

.gift-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 200px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
    direction: rtl;
}

.popup button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f3867f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}