*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.gift-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

.gift {
    width: 100px;
    height: 90px;
    background-color: #f7f7f7;
    border-radius: 5px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


    &:after,
    &:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 90px;
        right: 45%;
        background-color: #f3867f;
    }

    &:before {
        height: 100px;
        transform: rotate(90deg);
    }
}

.door {
    position: absolute;
    background-color: #fff;
    width: 110px;
    height: 13px;
    margin-left: -5px;
    border-radius: 5px 5px 0 0;
    box-shadow: 3px 3px 10px 3px #dddddd;
}

.door.open {
    animation: openDoor 2s ease-in-out forwards;
}

i {
    width: 40px;
    height: 30px;
    border: 6px solid #f3867f;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    border-radius: 100% 20px 20px 30%;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.3);

    &:last-child {
        transform: rotateY(180deg);
        left: auto;
        right: 50%;
    }
}

@keyframes openDoor {
    0% {
        transform: rotate(0);
        margin-left: -5px;
        top: 0;
    }

    100% {
        transform: rotate(-30deg);
        margin-left: -20px;
        top: -45px;
    }
}